*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;

}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#imgSection{
    width: 800px;
}

img{
    width: 100%;
}

.fa-solid{
    margin: 30px;
    cursor: pointer;
    font-size: 40px;
}

#dots{
    margin-top: 10px;
    flex-basis: 100%;
    text-align: center;
}

.fa-circle{
    cursor: pointer;
    font-size: 20px;
    padding: 0;
    margin: 6px;
}